@import url("https://fonts.googleapis.com/css?family=Lemonada:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap");
#brand {
  font-weight: 600;
  color: #ff5c4a;
  cursor: pointer;
  font-family: "Lemonada", cursive;
  font-size: 16px; }

.more {
  color: #5358e2;
  float: right;
  position: absolute;
  bottom: 3%;
  right: 10%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500; }
  .more:hover {
    cursor: pointer;
    color: #272edb; }

li#selected-link {
  background-color: white;
  border-radius: 200px 0 0 200px;
  z-index: 1;
  position: relative; }
  li#selected-link > a {
    color: #4c4967; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.clearfix:after {
  content: "";
  clear: both;
  display: table;
  font-weight: 400; }

html {
  font-size: 62.5%; }

.profile-card {
  margin: 40px 5px 5px; }
  .profile-card .top-bar {
    font-size: 2rem;
    padding: 10px;
    margin: 40px;
    position: relative;
    color: #4c4967; }
    .profile-card .top-bar .fa-bell {
      float: left; }
      .profile-card .top-bar .fa-bell::after {
        content: "";
        position: absolute;
        top: 1rem;
        left: 2rem;
        background-color: #5358e2;
        padding: 4px;
        font-size: .1px;
        border-radius: 100px;
        border: 1px solid #eceef9; }
    .profile-card .top-bar .fa-cog {
      float: right; }
  .profile-card .card {
    margin: 8rem 1rem 1rem;
    align-items: center;
    height: 18rem; }
    .profile-card .card .profile_intro {
      border-radius: 100%;
      height: 9rem;
      display: block;
      margin: 5rem auto 5px auto;
      line-height: 2.5rem;
      width: 50%; }
      .profile-card .card .profile_intro img {
        border-radius: 100%;
        height: 11rem;
        display: block;
        margin: 5px auto 15px auto; }
      .profile-card .card .profile_intro .user-name {
        font-size: 2rem;
        font-weight: 600;
        text-align: center; }
      .profile-card .card .profile_intro .user-desg {
        font-size: 1.4rem;
        font-weight: 300;
        text-align: center; }
  .profile-card .profile-detail {
    margin: 3em 0 0 2em;
    font-size: 1.2rem; }
    .profile-card .profile-detail > span {
      margin-left: 2rem;
      line-height: 4rem;
      font-weight: 200; }
      .profile-card .profile-detail > span .fa {
        font-size: 1.6rem;
        margin-right: 3rem; }
      .profile-card .profile-detail > span#followers-bar {
        color: #5358e2; }
      .profile-card .profile-detail > span#following-bar {
        color: #4c4967; }
      .profile-card .profile-detail > span#article-bar {
        color: #ff5c4a; }
      .profile-card .profile-detail > span > span > span {
        font-weight: 600;
        margin-right: 1rem; }
  .profile-card .domain-section {
    margin: 5rem 0 5rem 4rem; }
    .profile-card .domain-section .list-group {
      list-style: none; }
      .profile-card .domain-section .list-group li {
        margin: 2rem 0 2rem 0; }
        .profile-card .domain-section .list-group li > div {
          display: flex;
          flex-direction: row; }
    .profile-card .domain-section .domain-content h3 {
      font-weight: 500;
      color: #343434; }
      .profile-card .domain-section .domain-content h3 + h3 {
        font-weight: 400;
        color: grey; }
    .profile-card .domain-section .domain-content img {
      height: 4rem;
      width: 4rem;
      float: left;
      border-radius: .5rem;
      margin-right: 2rem; }

.main-content {
  background-color: white;
  border-radius: 4rem 0 0 4rem;
  border-width: 0;
  border-style: none none solid none; }
  .main-content li,
  .main-content a,
  .main-content button {
    font-size: 1.4rem;
    font-weight: 400;
    color: #4c4967;
    text-decoration: none; }
  .main-content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 60px 10px; }
    .main-content header .nav__links {
      list-style: none;
      padding-right: auto; }
      .main-content header .nav__links li {
        display: inline-block; }
        .main-content header .nav__links li a {
          transition: all 0.3 ease 0s;
          padding: 5px 0 10px 0;
          margin-right: 20px; }
          .main-content header .nav__links li a .right_now {
            border-bottom: 2px solid blue; }
          .main-content header .nav__links li a:hover {
            color: #ff8a7d; }
          .main-content header .nav__links li a:active {
            color: #ff5c4a; }
          .main-content header .nav__links li a#right-now {
            border-bottom: 2px solid blue; }
    .main-content header button {
      padding: 15px 25px;
      background-color: #5358e2;
      border: none;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
      transition: all 0.3 ease 0s;
      text-align: center;
      font-size: 18px;
      color: #fff; }
      .main-content header button button > img,
      .main-content header button button > span {
        vertical-align: middle; }
      .main-content header button:hover {
        background-color: #696de6;
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1); }
      .main-content header button:active {
        background-color: #3d43de;
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1); }

#last-nav-item {
  margin-right: 20vw; }

a.right_now {
  border-bottom: 2px solid #5358e2; }

.vertical-nav {
  float: left;
  background-color: #ff5c4a;
  border-radius: 0 4rem 0 4rem;
  height: 70em;
  width: 15%; }
  .vertical-nav .fill-nav {
    height: 66rem;
    margin: 2rem 0 2rem 2rem; }
  .vertical-nav .nav__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 66rem;
    padding: 10rem 0;
    width: 100%; }
  .vertical-nav li.nav-item,
  .vertical-nav a.nav-link {
    font-size: 4rem;
    align-items: center;
    color: white; }
  .vertical-nav a.nav-link {
    padding: 0 0 0 3rem; }

.article-content {
  position: relative;
  margin: 3rem;
  width: 100rem; }
  .article-content .show-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .article-content .card {
    position: relative;
    height: 25rem;
    width: 25rem;
    border-radius: 2rem;
    box-shadow: -0.1rem -0.3rem 3rem -0.3rem rgba(0, 0, 0, 0.1);
    line-height: 5rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    text-align: center;
    padding: 4rem; }
    .article-content .card-icon {
      height: 6rem;
      width: 6rem;
      border-radius: 100%;
      display: inline-block;
      background-color: #e5f2ff;
      color: #0079ff;
      font-size: 2rem;
      text-align: center;
      transform-origin: 50% 50%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%; }
    .article-content .card-number {
      padding: 2rem 0 0 0;
      font-size: 3rem;
      color: #52519f; }
    .article-content .card-details {
      font-size: 1.7rem;
      color: #9090c6;
      font-weight: 400; }
  .article-content .card:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1); }
    .article-content .card:hover:active {
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1); }
  .article-content .article-statistics {
    padding: 4rem 0 0 1.6rem;
    width: 100%; }
    .article-content .article-statistics ul {
      list-style: none; }
      .article-content .article-statistics ul li {
        margin: 2rem; }

body {
  font-family: " Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box; }

.outer-container {
  padding: 5rem 10rem;
  background-color: #eceef9;
  height: 100%; }

.main-container {
  background-color: white;
  height: 100%;
  border-radius: 4rem;
  border-width: 0;
  border-style: none;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 78% 22%;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem; }

.side-content {
  background-color: #f4f8fb;
  border-radius: 0 2rem 2rem 0;
  border-width: 0;
  position: relative;
  border-style: none none solid none;
  -webkit-border-radius: 0 4rem 2rem 0;
  -moz-border-radius: 0 2rem 2rem 0;
  -ms-border-radius: 0 2rem 2rem 0;
  -o-border-radius: 0 2rem 2rem 0; }

.article-container {
  margin-top: 50px;
  display: flex;
  height: auto;
  width: auto; }
