body {
    font-family: " Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.outer-container {
    padding: 5rem 10rem;
    background-color: $bg-outer;
    height: 100%;
}