#brand {
    font-weight: 600;
    color: $orange;
    cursor: pointer;
    font-family: "Lemonada", cursive;
    font-size: 16px;
}

.more {
    color: $btn-primary-color;
    float: right;
    position: absolute;
    bottom: 3%;
    right: 10%;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
        cursor: pointer;
        color: darken($btn-primary-color, 10%);
    }

}