$btn-primary-color: rgb(83, 88, 226);
$bg-white: rgb(255, 255, 255);
$bg-outer: rgb(236, 238, 249);
$bg-side-bar: rgb(244, 248, 251);
$orange: rgb(255, 92, 74);
$nav-item-color: rgb(76, 73, 103);
$top-space:35px;
$shadow-color:rgba(0, 0, 0, 0.1);
$sky-blue:rgb(229, 242, 255);
$dark-sky-blue:rgb(0, 121, 321);
$follower-number:rgb(82, 81, 159);
$yellow:rgb(255, 205, 63);
$lightskyblue:rgb(62, 212, 225);
$lightorange:rgb(255, 142, 52);